---
---
/* Theme */

$text-color: #f0f0f0;
$background-color: #0d1117;
$brand-color: #fb900c;

// Width of the content area
$content-width: 800px;

$on-palm: 600px;
$on-laptop: 800px;

@mixin media-query($device) {
  @media screen and (max-width: $device) {
    @content;
  }
}

/* Body */

html,
body {
  font-family: "Outfit", sans-serif;
  background-color: $background-color;
  font-size: 18px;
  color: $text-color;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 28px;
}

h1 {
  font-size: 30px;
  font-weight: 900;
}

h2 {
  font-size: 27px;
  font-weight: 700;
}

h3 {
  font-size: 24px;
  font-weight: 500;
}

h4 {
  font-size: 22px;
  font-weight: 400;
}

h5 {
  font-size: 20px;
  font-weight: 200;
}

h6 {
  font-size: 18px;
  font-weight: 100;
}

img {
  max-width: 100%;
}

a {
  color: $text-color;
}

a:hover {
  color: $brand-color;
}

p a, li a {
  color: $brand-color;
  font-weight: 600;
}

p a:hover, li a:hover {
  color: $text-color;
  text-decoration: underline;
}

.nav-link {
  color: $brand-color;
}

.nav-link:hover {
  color: $text-color;
}

blockquote, code {
  border-left: 3px solid $brand-color;
  padding-left: 8px;
}

.site-logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 56px;
  border-radius: 50%;
  width: 100px;
  height: 100px;
}

.site-title {
  font-family: Lemonada;
  color: $text-color;
  text-align: center;
}

.menu-area, .content-area {
  max-width: 600px;
}

/* Post Media */

.post-image {
  margin: 20px auto;
  display: block;
  max-width: 100%;
  height: auto;
}

.youtube-wrapper {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 56.25%;
}

.youtube-wrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}

.twitter-tweet {
   margin: auto;
}

/* Pagination */

.next-previous-articles{
  margin-bottom: 28px;
}

.page-link {
  color: $brand-color;
  margin: 0px 10px;
}

.page-item.active .page-link {
  background-color: $brand-color;
  border-color: $brand-color;
}

/* Footer */

footer{
  color: $text-color;
  padding-bottom: 28px;
}