---
layout: page
permalink: /
---

<div class="posts">
  {% for post in paginator.posts | reversed %}
    <article class="post">
      <h2><a href="{{ site.baseurl }}/{{ post.url }}">{{ post.title }}</a></h2>
      <p class="date">{{ post.date | date: "%B %d, %Y" }}</p>
      {% if post.image %}
        <img src="{{ site.baseurl }}{{ post.image }}" alt="{{ post.title }}" class="post-image" />
      {% endif %}
      {{ post.excerpt }}
    </article>
  {% endfor %}
</div>

{% include paginator.html %}