---
layout: page
---

{% include bio.html %}

<h2>Na pòstaichean as ùire</h2>

{% for post in paginator.posts %}
  <div class="row">
    <div class="col-lg-3"><p>{{ post.date | date: "%d" }}/{{ post.date | date: "%m" }}/{{ post.date | date: "%Y" }}</p></div>
    <div class="col-lg-9"><p><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></p></div>
  </div>
{% endfor %}

<div style="margin-top: 28px">
  {% if paginator.total_pages > 1 %}
    <ul class="pagination justify-content-center">
      {% if paginator.next_page %}
        <li class="page-item active">
          <a class="page-link" href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}"><i class="fa fa-arrow-circle-left"></i>  Nas sìne</a>
        </li>
      {% else %}
        <li class="page-item disabled">
          <span class="page-link"><i class="fa fa-arrow-circle-left"></i>  Nas sìne</span>
        </li>
      {% endif %}

      {% if paginator.previous_page %}
        <li class="page-item active">
          <a class="page-link" href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">Nas ùire <i class="fa fa-arrow-circle-right"></i></a>
        </li>
      {% else %}
        <li class="page-item disabled">
          <span class="page-link">Nas ùire <i class="fa fa-arrow-circle-right"></i></span>
        </li>
      {% endif %}
    </ul>
  {% endif %}
</div>