<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />

  {% if page.title %}
    <title>{{ page.title }} - {{ site.title }}</title>
  {% else %}
    <title>{{ site.title }}</title>
  {% endif %}

  <meta name="description" content="Geàrr-chunntas sgrìobhte de naidheachdan LGDTCEN+ ionadail, nàiseanta ‘s bho air feadh an t-saoghail.">

  <!--CSS-->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" />
  <link rel="stylesheet" href="{{ site.baseurl }}/css/main.css" />

  <!--Fonts-->
  <script src="https://kit.fontawesome.com/3bcb25d86b.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Lemonada:300,400,500,600,700" />
  <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Outfit:Thin,ExtraLight,Light,Regular,Medium,SemiBold,Bold,ExtraBold,Black" />

  <!-- Facebook Meta Tags -->
  <meta property="og:url" content="https://angeidhealur.scot/">
  <meta property="og:title" content="{{ page.title }}">
  <meta property="og:description" content="{{ page.excerpt }}">
  <meta property="og:image" content="{{ page.image }}">

  <!-- Twitter Meta Tags -->
  <meta name="twitter:card" content="summary_large_image">
  <meta property="twitter:domain" content="angeidhealur.scot">
  <meta property="twitter:url" content="https://angeidhealur.scot/">
  <meta name="twitter:title" content="{{ page.title }}">
  <meta name="twitter:description" content="{{ page.excerpt }}">
  <meta name="twitter:image" content="{{ page.image }}">

  <!--Icons-->
  <link rel="manifest" href="{{ site.baseurl }}/manifest.json" />
  <link rel="icon" type="image/png" sizes="32x32" href="{{ site.baseurl }}/images/icons/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="{{ site.baseurl }}/images/icons/favicon-16x16.png">
  <link rel="icon" type="image/x-icon" href="{{ site.baseurl }}/images/icons/favicon.ico">
  <link rel="icon" type="image/png" sizes="192x192" href="{{ site.baseurl }}/images/icons/android/android-chrome-192x192.png">
  <link rel="apple-touch-icon" href="{{ site.baseurl }}/images/icons/ios/72.png" />
  <link rel="apple-touch-icon" href="{{ site.baseurl }}/images/icons/ios/128.png" />
  <link rel="apple-touch-icon" href="{{ site.baseurl }}/images/icons/ios/144.png" />
  <link rel="apple-touch-icon" href="{{ site.baseurl }}/images/icons/ios/152.png" />
  <link rel="apple-touch-icon" href="{{ site.baseurl }}/images/icons/ios/192.png" />
  <link rel="apple-touch-icon" href="{{ site.baseurl }}/images/icons/ios/512.png" />
  <meta name="apple-mobile-web-app-status-bar" content="#6062a5" />
  <meta name="theme-color" content="#6062a5" />
  <meta name="msapplication-TileColor" content="#6062a5">
  <meta name="msapplication-TileImage" content="{{ site.baseurl }}/images/icons/windows11/mstile-144x144.png">

  <!--RSS Feed-->
  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ site.baseurl }}/feed.xml" />
  <meta name="follow.it-verification-code" content="lgwN0VcMDSadmLa2csMy"/>

  <!--Mastodon Verification-->
  <link rel="me" href="{{ site.mastodon }}">
</head>
