---

layout: page
permalink: /faclair/

---

  <h1 style="text-align: center">Faclair nan Gèidheal</h1>

  {% for facal in site.faclair %}
  
  <p style="text-align: center"><a href="{{ site.baseurl }}{{ facal.url }}">{{ facal.title }}</a></p>

  <h1 style="text-align: center">• • •</h1>
  {% endfor %}

  <div style="margin-top: 28px">
  {% if paginator.total_pages > 1 %}
  <ul class="pagination justify-content-center">
    {% if paginator.next_page %}
    <li class="page-item active">
        <a class="page-link" href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}"><i class="fa fa-arrow-circle-left"></i>  Nas sìne</a>
      </li>
    {% else %}
      <li class="page-item disabled">
        <span class="page-link"><i class="fa fa-arrow-circle-left"></i>  Nas sìne</span>
      </li>
    {% endif %}

    {% if paginator.previous_page %}
      <li class="page-item active">
        <a class="page-link" href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">Nas ùire <i class="fa fa-arrow-circle-right"></i></a>
      </li>
    {% else %}
      <li class="page-item disabled">
        <span class="page-link">Nas ùire <i class="fa fa-arrow-circle-right"></i></span>
      </li>
    {% endif %}
    </ul>
  {% endif %}
  </div>

